.cheeseContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px;
}

@media screen and (max-width: 650px) {
  .cheeseContainer {
    display: block;
    margin: 0 auto;
    padding-left: 18%;
  }

}

@media screen and (max-width: 600px) {
  .cheeseContainer {
    padding-left: 12%;
  }

}

@media screen and (max-width: 510px) {
  .cheeseContainer {
    margin: 0 auto;
    padding-left: 0;
  }

}
