.header {
  width: 100vw;
  height: 10%;
  background-image: url('../../images/France_1024x1024.jpg');
  background-repeat: no-repeat; 
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: row;
}


.header-link {
  text-decoration: none;
  font-family: 'Rokkit', serif;
  font-size: 1.7em;
  color: #811b13;
  padding: 40px;
  background-color: #fbe39c;
  border-radius: 50%;
  width: 20%;
  height: 50px;
  border-style: dotted;
  margin: 0 auto;

}

.favorites-link {
  text-decoration: none;
  color: #e9eae4;
  font-size: 1.1em;
  margin-right: 10px;
  position: absolute;
}

.logo {
  width: 20%;
  margin-left: 75px;
  margin-top: 0.25%;
}